configuration {
  modi: "run,window";                                                                                                                                                                          
  show-icons: true;
}
@import "/usr/share/rofi/themes/Arc-Dark.rasi"
